{% extends 'special/maintenance/_base.twig' %}
{% set title = 'Broken redirects' %}
{% block maintenance_content %}
  <p>List of redirects pointing to missing or invalid targets. (Placeholder)</p>
{% endblock %}

