{% extends 'special/maintenance/_base.twig' %}
{% set title = 'Pages with the fewest revisions' %}
{% block maintenance_content %}
  <p>Pages that have the fewest number of revisions. (Placeholder)</p>
{% endblock %}

