{% extends 'special/maintenance/_base.twig' %}
{% set title = 'Uncategorized categories' %}
{% block maintenance_content %}
  <p>Categories that are not categorized themselves. (Placeholder)</p>
{% endblock %}

