{% extends 'special/maintenance/_base.twig' %}
{% set title = 'Uncategorized templates' %}
{% block maintenance_content %}
  <p>Templates not assigned to any category. (Placeholder)</p>
{% endblock %}

