{% extends 'special/maintenance/_base.twig' %}
{% set title = 'Unused templates' %}
{% block maintenance_content %}
  <p>Templates that are not transcluded anywhere. (Placeholder)</p>
{% endblock %}

