{% extends 'special/maintenance/_base.twig' %}
{% set title = 'Wanted templates' %}
{% block maintenance_content %}
  <p>Template links to templates that do not exist yet. (Placeholder)</p>
{% endblock %}

