{% extends 'special/maintenance/_base.twig' %}
{% set title = 'Pages without language links' %}
{% block maintenance_content %}
  <p>Pages lacking interlanguage links. (Placeholder)</p>
{% endblock %}

