includes:
    - vendor/phpstan/phpstan/conf/level8.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: max
    paths:
        - src/
        - extensions/
    excludePaths:
        - %currentWorkingDirectory%/vendor
        - %currentWorkingDirectory%/node_modules
        - %currentWorkingDirectory%/tests/_support/_generated
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Access to an undefined property.*#'
        - '#Call to an undefined method.*#'
        - '#Method .* not found#'

    phpVersion: 80300
